In [1]:
import numpy as np
import pandas as pd

In [2]:
airports_csv = "../data/airports.csv"
flights_csv = "../data/flights.csv"

In [3]:
fl_df = pd.read_csv(flights_csv)
fl_df.head()

C:\Users\01149762\AppData\Local\Temp\ipykernel_7912\1179341003.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  fl_df = pd.read_csv(flights_csv)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
fl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(5)
memory usage: 1.3+ GB

In [5]:
fl_df.describe()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,...,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
count,5819079.0,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.732926e+06,5.732926e+06,5.730032e+06,5.730032e+06,...,5.819079e+06,5.726566e+06,5.714008e+06,5.819079e+06,5.819079e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06
mean,2015.0,6.524085e+00,1.570459e+01,3.926941e+00,2.173093e+03,1.329602e+03,1.335204e+03,9.370158e+00,1.607166e+01,1.357171e+03,...,1.493808e+03,1.476491e+03,4.407057e+00,2.609863e-03,1.544643e-02,1.348057e+01,7.615387e-02,1.896955e+01,2.347284e+01,2.915290e+00
std,0.0,3.405137e+00,8.783425e+00,1.988845e+00,1.757064e+03,4.837518e+02,4.964233e+02,3.708094e+01,8.895574e+00,4.980094e+02,...,5.071647e+02,5.263197e+02,3.927130e+01,5.102012e-02,1.233201e-01,2.800368e+01,2.143460e+00,4.816164e+01,4.319702e+01,2.043334e+01
min,2015.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-8.200000e+01,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,-8.700000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2015.0,4.000000e+00,8.000000e+00,2.000000e+00,7.300000e+02,9.170000e+02,9.210000e+02,-5.000000e+00,1.100000e+01,9.350000e+02,...,1.110000e+03,1.059000e+03,-1.300000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2015.0,7.000000e+00,1.600000e+01,4.000000e+00,1.690000e+03,1.325000e+03,1.330000e+03,-2.000000e+00,1.400000e+01,1.343000e+03,...,1.520000e+03,1.512000e+03,-5.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,3.000000e+00,0.000000e+00
75%,2015.0,9.000000e+00,2.300000e+01,6.000000e+00,3.230000e+03,1.730000e+03,1.740000e+03,7.000000e+00,1.900000e+01,1.754000e+03,...,1.918000e+03,1.917000e+03,8.000000e+00,0.000000e+00,0.000000e+00,1.800000e+01,0.000000e+00,1.900000e+01,2.900000e+01,0.000000e+00
max,2015.0,1.200000e+01,3.100000e+01,7.000000e+00,9.855000e+03,2.359000e+03,2.400000e+03,1.988000e+03,2.250000e+02,2.400000e+03,...,2.400000e+03,2.400000e+03,1.971000e+03,1.000000e+00,1.000000e+00,1.134000e+03,5.730000e+02,1.971000e+03,1.331000e+03,1.211000e+03

Jakie jest maksymalne opÃ³Åºnienie zwiÄ…zane z pogodÄ…?

In [6]:
fl_df['WEATHER_DELAY'].max()

1211.0

Jakie byÅ‚o maksymalne opÃ³Åºnienie lotu z Los Angeles, LAX to Atlanty, ATL w grudniu 2015?

In [16]:
(fl_df.loc[(fl_df['ORIGIN_AIRPORT'] =="LAX") & (fl_df['DESTINATION_AIRPORT']=="ATL")&(fl_df['MONTH']==12)&(fl_df['YEAR']==2015)]).sort_values("ARRIVAL_DELAY",ascending=False)['ARRIVAL_DELAY']

5812552    296.0
5626116    265.0
5704915    238.0
5570825    204.0
5611896    187.0
           ...
5745327      NaN
5773987      NaN
5778262      NaN
5789624      NaN
5794488      NaN
Name: ARRIVAL_DELAY, Length: 578, dtype: float64

Jaki byÅ‚ tail number lotu o maksymalnym opÃ³Åºnienieniu z Los Angeles, LAX to Atlanty, ATL w grudniu 2015?

In [17]:
(fl_df.loc[(fl_df['ORIGIN_AIRPORT'] =="LAX") & (fl_df['DESTINATION_AIRPORT']=="ATL")&(fl_df['MONTH']==12)&(fl_df['YEAR']==2015)]).sort_values("ARRIVAL_DELAY",ascending=False)['TAIL_NUMBER']

5812552    N138DL
5626116    N521NK
5704915    N6712B
5570825    N223WN
5611896    N3741S
            ...
5745327    N030AA
5773987    N273WN
5778262    N021AA
5789624    N1607B
5794488    N001AA
Name: TAIL_NUMBER, Length: 578, dtype: object

Jakie byÅ‚o minimalne opÃ³Åºnienie lotu z Los Angeles, LAX to Atlanty, ATL w grudniu 2015?

In [18]:
(fl_df.loc[(fl_df['ORIGIN_AIRPORT'] =="LAX") & (fl_df['DESTINATION_AIRPORT']=="ATL")&(fl_df['MONTH']==12)&(fl_df['YEAR']==2015)]).sort_values("ARRIVAL_DELAY",ascending=True)['ARRIVAL_DELAY']

5340299   -36.0
5709169   -32.0
5538371   -31.0
5806154   -29.0
5707850   -29.0
           ...
5745327     NaN
5773987     NaN
5778262     NaN
5789624     NaN
5794488     NaN
Name: ARRIVAL_DELAY, Length: 578, dtype: float64

Jaki byÅ‚ tail number lotu o minimalnym opÃ³Åºnienieniu z Los Angeles, LAX to Atlanty, ATL w grudniu 2015?

In [20]:
(fl_df.loc[(fl_df['ORIGIN_AIRPORT'] =="LAX") & (fl_df['DESTINATION_AIRPORT']=="ATL")&(fl_df['MONTH']==12)&(fl_df['YEAR']==2015)]).sort_values("ARRIVAL_DELAY",ascending=True)['TAIL_NUMBER']

5340299    N704SW
5709169    N005AA
5538371    N232FR
5806154    N844DN
5707850    N7832A
            ...
5745327    N030AA
5773987    N273WN
5778262    N021AA
5789624    N1607B
5794488    N001AA
Name: TAIL_NUMBER, Length: 578, dtype: object

Jaki byÅ‚ najdÅ‚uÅ¼szy czas lotu (czas spÄ™dzony w powietrzu) z Honolulu, HNL gdziekolwiek?

In [6]:
fl_df.loc[fl_df["ORIGIN_AIRPORT"]=="HNL"].sort_values("AIR_TIME",ascending=False)["AIR_TIME"]

2978579    630.0
1995039    618.0
2140639    594.0
2040970    592.0
2463895    588.0
           ...
5756546      NaN
5768630      NaN
5792712      NaN
5805512      NaN
5805888      NaN
Name: AIR_TIME, Length: 43172, dtype: float64

(Do powyÅ¼szego) DokÄ…d odbyÅ‚ sie ten lot?

In [7]:
fl_df.loc[fl_df["ORIGIN_AIRPORT"]=="HNL"].sort_values("AIR_TIME",ascending=False)["DESTINATION_AIRPORT"]

2978579    JFK
1995039    JFK
2140639    JFK
2040970    JFK
2463895    JFK
          ...
5756546    PHX
5768630    ORD
5792712    LAX
5805512    PHX
5805888    SFO
Name: DESTINATION_AIRPORT, Length: 43172, dtype: object

In [8]:
(fl_df.loc[fl_df["ORIGIN_AIRPORT"]=="HNL"].sort_values("AIR_TIME",ascending=False)).iloc[0,:]

YEAR                     2015
MONTH                       7
DAY                         6
DAY_OF_WEEK                 1
AIRLINE                    HA
FLIGHT_NUMBER              50
TAIL_NUMBER            N383HA
ORIGIN_AIRPORT            HNL
DESTINATION_AIRPORT       JFK
SCHEDULED_DEPARTURE      1520
DEPARTURE_TIME         1524.0
DEPARTURE_DELAY           4.0
TAXI_OUT                 15.0
WHEELS_OFF             1539.0
SCHEDULED_TIME          575.0
ELAPSED_TIME            654.0
AIR_TIME                630.0
DISTANCE                 4983
WHEELS_ON               809.0
TAXI_IN                   9.0
SCHEDULED_ARRIVAL         655
ARRIVAL_TIME            818.0
ARRIVAL_DELAY            83.0
DIVERTED                    0
CANCELLED                   0
CANCELLATION_REASON       NaN
AIR_SYSTEM_DELAY          0.0
SECURITY_DELAY            0.0
AIRLINE_DELAY             4.0
LATE_AIRCRAFT_DELAY       0.0
WEATHER_DELAY            79.0
Name: 2978579, dtype: object

(Do powyÅ¼szego) Jaka linia go wykonaÅ‚a?

In [34]:
(fl_df.loc[fl_df["ORIGIN_AIRPORT"]=="HNL"].sort_values("AIR_TIME"))["AIRLINE"]

199821     HA
5778002    HA
5712399    HA
2766488    HA
1058303    HA
           ..
5756546    AA
5768630    UA
5792712    AA
5805512    AA
5805888    UA
Name: AIRLINE, Length: 43172, dtype: object

Jaki byÅ‚ minimalny czas lotu (czas w powietrzu) na trasie pomiÄ™dzy lotniskami Chicago, ORD i Austin, AUS (tam i z powrotem)?

In [42]:
((fl_df.loc[((fl_df['ORIGIN_AIRPORT'] =="ORD") & (fl_df['DESTINATION_AIRPORT']=="AUS"))|((fl_df['ORIGIN_AIRPORT'] =="AUS") & (fl_df['DESTINATION_AIRPORT']=="ORD"))]).sort_values("AIR_TIME",ascending=True))["AIR_TIME"]

5133601    107.0
947061     107.0
952545     107.0
958601     108.0
955781     109.0
           ...
5766325      NaN
5769920      NaN
5770245      NaN
5771370      NaN
5775343      NaN
Name: AIR_TIME, Length: 4522, dtype: float64

Jaki byÅ‚ Å›redni czas lotu (czas w powietrzu) na trasie pomiÄ™dzy lotniskami Chicago, ORD i Austin, AUS (tam i z powrotem)?

In [ ]:
((fl_df.loc[((fl_df['ORIGIN_AIRPORT'] =="ORD") & (fl_df['DESTINATION_AIRPORT']=="AUS"))|((fl_df['ORIGIN_AIRPORT'] =="AUS") & (fl_df['DESTINATION_AIRPORT']=="ORD"))]).sort_values("AIR_TIME",ascending=True))["AIR_TIME"].mean()

Jaka byÅ‚a mediana czasu lotu (czas w powietrzu) na trasie pomiÄ™dzy lotniskami Chicago, ORD i Austin, AUS (tam i z powrotem)?

In [43]:
((fl_df.loc[((fl_df['ORIGIN_AIRPORT'] =="ORD") & (fl_df['DESTINATION_AIRPORT']=="AUS"))|((fl_df['ORIGIN_AIRPORT'] =="AUS") & (fl_df['DESTINATION_AIRPORT']=="ORD"))]).sort_values("AIR_TIME",ascending=True))["AIR_TIME"].median()

132.0

Jaki byÅ‚ maksymalny czas lotu (czas w powietrzu) na trasie pomiÄ™dzy lotniskami Chicago, ORD i Austin, AUS (tam i z powrotem)?

In [46]:
((fl_df.loc[((fl_df['ORIGIN_AIRPORT'] =="ORD") & (fl_df['DESTINATION_AIRPORT']=="AUS"))|((fl_df['ORIGIN_AIRPORT'] =="AUS") & (fl_df['DESTINATION_AIRPORT']=="ORD"))]).sort_values("AIR_TIME",ascending=False))["AIR_TIME"]

933026     201.0
2510615    195.0
959363     195.0
933978     191.0
949009     185.0
           ...
5766325      NaN
5769920      NaN
5770245      NaN
5771370      NaN
5775343      NaN
Name: AIR_TIME, Length: 4522, dtype: float64

Jaka linia lata z Yumy, YUM?

In [51]:
(fl_df.loc[fl_df["ORIGIN_AIRPORT"]=="YUM"])["AIRLINE"].value_counts()

OO    1877
Name: AIRLINE, dtype: int64

Ile lotÃ³w odbyÅ‚o siÄ™ z Yumy, YUM w 2015?

In [58]:
(fl_df.loc[(fl_df["ORIGIN_AIRPORT"]=="YUM")&(fl_df["YEAR"]==2015)]).shape[0]

1877

Jaka trasa ma najkrÃ³tsze czasy lotÃ³w?

In [81]:
fl_df.groupby(["ORIGIN_AIRPORT","DESTINATION_AIRPORT"])["AIR_TIME"].aggregate([np.mean, np.std, np.min]).sort_values("mean")

                                         mean       std  amin
ORIGIN_AIRPORT DESTINATION_AIRPORT
14256          15841                 9.000000  1.414214   8.0
WRG            PSG                  11.233846  3.635485   7.0
14256          15841                11.758621  3.572266   8.0
PSG            WRG                  11.895706  3.158604   7.0
15841          14256                11.923077  4.204027   7.0
...                                       ...       ...   ...
SGF            HYS                        NaN       NaN   NaN
STL            PIA                        NaN       NaN   NaN
SWF            LGA                        NaN       NaN   NaN
TYS            CLL                        NaN       NaN   NaN
               LEX                        NaN       NaN   NaN

[12377 rows x 3 columns]

ZnajdÅº najdÅ‚uÅ¼ej trwajÄ…cy lot (czas w powietrzu), nie z  JFK. Policz Å›redniÄ… dÅ‚ugoÅ›Ä‡ lotu pomiÄ™dzy lotniskami tego lotu.

In [9]:
longest_df = fl_df.loc[(fl_df['ORIGIN_AIRPORT']!="JFK")].sort_values("AIR_TIME", ascending=False)
longest_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
565155,2015,2,7,6,UA,15,N76065,EWR,HNL,910,...,1620.0,51.0,0,0,NaN,51.0,0.0,0.0,0.0,0.0
1014055,2015,3,8,7,UA,15,N69063,EWR,HNL,910,...,1459.0,30.0,0,0,NaN,30.0,0.0,0.0,0.0,0.0
1178611,2015,3,18,3,UA,15,N76054,EWR,HNL,910,...,1500.0,31.0,0,0,NaN,31.0,0.0,0.0,0.0,0.0
549853,2015,2,6,5,UA,15,N76062,EWR,HNL,910,...,1631.0,62.0,0,0,NaN,17.0,0.0,45.0,0.0,0.0
1600533,2015,4,13,1,UA,15,N66051,EWR,HNL,910,...,1444.0,29.0,0,0,NaN,29.0,0.0,0.0,0.0,0.0

In [10]:
(longest_df.iloc[0,:])

YEAR                     2015
MONTH                       2
DAY                         7
DAY_OF_WEEK                 6
AIRLINE                    UA
FLIGHT_NUMBER              15
TAIL_NUMBER            N76065
ORIGIN_AIRPORT            EWR
DESTINATION_AIRPORT       HNL
SCHEDULED_DEPARTURE       910
DEPARTURE_TIME          913.0
DEPARTURE_DELAY           3.0
TAXI_OUT                 29.0
WHEELS_OFF              942.0
SCHEDULED_TIME          679.0
ELAPSED_TIME            727.0
AIR_TIME                683.0
DISTANCE                 4962
WHEELS_ON              1605.0
TAXI_IN                  15.0
SCHEDULED_ARRIVAL        1529
ARRIVAL_TIME           1620.0
ARRIVAL_DELAY            51.0
DIVERTED                    0
CANCELLED                   0
CANCELLATION_REASON       NaN
AIR_SYSTEM_DELAY         51.0
SECURITY_DELAY            0.0
AIRLINE_DELAY             0.0
LATE_AIRCRAFT_DELAY       0.0
WEATHER_DELAY             0.0
Name: 565155, dtype: object

+ Wersja pierwsza - loty tylko w jedna strone

In [11]:
fl_df.loc[(fl_df['ORIGIN_AIRPORT']=="EWR")&(fl_df['DESTINATION_AIRPORT']=="HNL")]['AIR_TIME'].mean()

612.5290519877676

+ Wersja druga - loty w obie strony

In [13]:
fl_df.loc[((fl_df['ORIGIN_AIRPORT']=="EWR")&(fl_df['DESTINATION_AIRPORT']=="HNL"))|((fl_df['ORIGIN_AIRPORT']=="HNL")&(fl_df['DESTINATION_AIRPORT']=="EWR"))]['AIR_TIME'].mean()

574.6157407407408

Jaki jest Å›redni czas lotu (czas w powietrzu) z Honolulu, HNL do Nowego Jorku, JFK?

In [82]:
((fl_df.loc[(fl_df['ORIGIN_AIRPORT'] =="HNL") & (fl_df['DESTINATION_AIRPORT']=="JFK")]).sort_values("AIR_TIME",ascending=False))["AIR_TIME"].mean()

546.4490445859873

Jaki jest Å›redni czas lotu (czas w powietrzu) z Nowego Jorku, JFK do Honolulu, HNL?

In [83]:
((fl_df.loc[(fl_df['ORIGIN_AIRPORT'] =="JFK") & (fl_df['DESTINATION_AIRPORT']=="HNL")]).sort_values("AIR_TIME",ascending=False))["AIR_TIME"].mean()

635.2070063694267