In [2]:
import pandas as pd
import numpy as np

# I. Wiki

In [3]:
columns_wiki = ['prev', 'curr', 'type', 'n']
df_wiki_de = pd.read_csv('data/wiki/clickstream-dewiki-2022-03.tsv/clickstream-dewiki-2022-03.tsv', delim_whitespace=True, names=columns_wiki, quoting=3)
df_wiki_pl = pd.read_csv('data/wiki/clickstream-plwiki-2022-03.tsv/clickstream-plwiki-2022-03.tsv', delim_whitespace=True, names=columns_wiki, quoting=3)
df_wiki_en = pd.read_csv('data/wiki/clickstream-enwiki-2022-03.tsv/clickstream-enwiki-2022-03.tsv', delim_whitespace=True, names=columns_wiki, quoting=3)

In [4]:
df_wiki_de.head()

             prev        curr      type   n
0     other-empty  Lichtröhre  external  53
1     Lichtleiter  Lichtröhre      link  12
2       Wohnhöhle  Lichtröhre      link  19
3    other-search  Lichtröhre  external  76
4  other-internal  Lichtröhre  external  11

Na jaki artykuł najczęściej wchodzili w marcu użytkownicy Wikipedii niemieckiej?

In [5]:
df_wiki_de.groupby('curr').agg({'n': 'sum'}).sort_values(by='n', ascending=False).head(1)

               n
curr
Ukraine  1979272

Na jaki artykuł najczęściej wchodzili w marcu użytkownicy Wikipedii polskiej?

In [6]:
df_wiki_pl.groupby('curr').agg({'n': 'sum'}).sort_values(by='n', ascending=False).head(1)

              n
curr
Ukraina  944630

# II. StackExchange

In [8]:
df_badges = pd.read_xml("data/travel.stackexchange.com/Badges.xml")
df_users = pd.read_xml("data/travel.stackexchange.com/Users.xml")
df_posts = pd.read_xml("data/travel.stackexchange.com/Posts.xml")
df_votes = pd.read_xml("data/travel.stackexchange.com/Votes.xml")
df_tags = pd.read_xml("data/travel.stackexchange.com/Tags.xml")
df_postlinks = pd.read_xml("data/travel.stackexchange.com/PostLinks.xml")
df_posthistory = pd.read_xml("data/travel.stackexchange.com/PostHistory.xml")
df_comments = pd.read_xml("data/travel.stackexchange.com/Comments.xml")

Jaka jest DisplayName użytkownika który zebrał najwięcej badge'y na Travel.StackExchange?

In [9]:
df_badges2 = df_badges.groupby("UserId").size().reset_index(name="cnt").sort_values("cnt", ascending=False).reset_index(drop=True)

In [10]:
df_merged = df_badges2.merge(df_users,left_on="UserId", right_on="Id")
df_merged.head()

,UserId,cnt,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,ProfileImageUrl
0,101,2202,101,156215,2011-06-22T05:46:39.603,Mark Mayo,2022-03-06T03:56:23.300,http://www.beatthatflight.com.au,"Christchurch, New Zealand","<p>Follow me on <a href=""https://twitter.com/#...",23822,16076,1650,58469.0,None
1,1893,1197,1893,97544,2012-02-12T22:24:02.820,lambshaanxy,2022-03-06T00:00:51.060,http://gyrovague.com,None,"<p>Jack of all trades, master of none.</p>\n\n...",8422,14121,260,76198.0,https://i.stack.imgur.com/b7qJk.gif
2,9009,1037,9009,78844,2013-11-04T10:24:33.297,JonathanReez,2022-03-06T01:07:09.760,None,None,None,15597,12928,750,484995.0,https://www.gravatar.com/avatar/06effda2fb8b9b...
3,140,894,140,74984,2011-06-23T09:07:20.373,hippietrail,2022-03-04T04:25:15.450,http://en.wiktionary.org/wiki/User:Hippietrail,"Sunshine Coast QLD, Australia","<p>Backpacking since Christmas Day, 1989. Hitc...",17146,6294,164,250783.0,https://i.stack.imgur.com/TgTIa.jpg?s=128&g=1
4,10051,752,10051,93064,2014-01-21T10:43:55.937,Nean Der Thal,2022-03-05T23:48:59.827,http://www.bing.com,Arabian Gulf,"<img src=""https://www.traveltip.org/pix/user_c...",13826,3843,28,550702.0,https://i.stack.imgur.com/3u7oz.png?s=128&g=1

In [11]:
df_merged.iloc[0,:]['DisplayName']

'Mark Mayo'

(Kontynuacja powyższego) Ile było wejść na stronę poświęconą miastu (nie całemu Location) z którego jest ten użytkownik na angielskiej Wikipedii?

In [12]:
best_man = df_merged.iloc[0,:]
best_man['Location']

'Christchurch, New Zealand'

In [13]:
df_wiki_en.head()

,prev,curr,type,n
0,Robert_Loggia,Tim_and_Eric's_Billion_Dollar_Movie,link,136
1,2929_Entertainment,Tim_and_Eric's_Billion_Dollar_Movie,link,24
2,Ray_Wise,Tim_and_Eric's_Billion_Dollar_Movie,link,15
3,Check_It_Out!_with_Dr._Steve_Brule,Tim_and_Eric's_Billion_Dollar_Movie,link,70
4,other-empty,Tim_and_Eric's_Billion_Dollar_Movie,external,552

In [14]:
df_wiki_en.loc[df_wiki_en['curr'] == "Christchurch"]['n'].sum()

25804

In [15]:
df_votes.loc[df_votes['PostId']==1].head(10)

        Id  PostId  VoteTypeId             CreationDate  UserId  BountyAmount
0        1       1           2  2011-06-21T00:00:00.000     NaN           NaN
1        2       1           2  2011-06-21T00:00:00.000     NaN           NaN
8        9       1           2  2011-06-21T00:00:00.000     NaN           NaN
145    159       1           2  2011-06-21T00:00:00.000     NaN           NaN
266    285       1          16  2011-06-21T00:00:00.000     NaN           NaN
269    289       1          16  2011-06-21T00:00:00.000     NaN           NaN
270    290       1           3  2011-06-21T00:00:00.000     NaN           NaN
994   1122       1           2  2011-06-23T00:00:00.000     NaN           NaN
1389  1557       1           2  2011-06-25T00:00:00.000     NaN           NaN
1817  2020       1          15  2011-06-27T00:00:00.000     NaN           NaN

+ Upvotes:

In [16]:
df_upvotes = df_votes.loc[df_votes['VoteTypeId'] == 2].groupby('PostId').size().reset_index(name="CountUpVotes")

In [17]:
df_upvotes.head()

   PostId  CountUpVotes
0       1            10
1       2            43
2       3            16
3       4             9
4       5            14

+ DownVotes:

In [18]:
df_downvotes = df_votes.loc[df_votes['VoteTypeId'] == 3].groupby('PostId').size().reset_index(name="CountDownVotes")

In [19]:
df_downvotes.head()

   PostId  CountDownVotes
0       1               2
1       3               1
2       4               1
3       7               3
4       8               1

+ Łączenie:

In [20]:
df_posts_users = df_posts.loc[:,['Id','OwnerUserId']].rename(columns={'Id':'post_id'})

In [21]:
df_posts_users.head()

   post_id  OwnerUserId
0        1          9.0
1        2         13.0
2        3          9.0
3        4         24.0
4        5         13.0

In [23]:
df_merged = df_posts_users.merge(df_upvotes, left_on="post_id", right_on="PostId", how="left").fillna(0)
df_merged = df_merged.merge(df_downvotes, left_on="post_id", right_on="PostId", how="left").fillna(0)

In [24]:
df_merged.drop(columns=['PostId_x', 'PostId_y'], inplace=True)
df_merged.head()

   post_id  OwnerUserId  CountUpVotes  CountDownVotes
0        1          9.0          10.0             2.0
1        2         13.0          43.0             0.0
2        3          9.0          16.0             1.0
3        4         24.0           9.0             1.0
4        5         13.0          14.0             0.0

In [25]:
df_merged['diff'] = df_merged.apply(lambda x: x['CountUpVotes']-x['CountDownVotes'], axis=1)

In [26]:
df_users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,ProfileImageUrl
0,-1,1,2011-06-21T15:16:44.253,Community,2011-06-21T15:16:44.253,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",465,6309,24756,-1.0,None
1,2,101,2011-06-21T20:10:03.720,Geoff Dalgas,2017-10-09T14:25:03.613,http://stackoverflow.com,"Corvallis, OR",<p>Dev #2 who helped create Stack Overflow cur...,41,1,0,2.0,https://i.stack.imgur.com/nDllk.png?s=128&g=1
2,3,101,2011-06-21T20:11:02.490,Nick Craver,2019-11-13T23:54:04.630,https://nickcraver.com/blog/,"Winston-Salem, NC",<p>I am a Principal Software Engineer at Micro...,22,1,0,7598.0,https://i.stack.imgur.com/nGCYr.jpg?s=128&g=1
3,4,101,2011-06-21T20:12:21.223,Emmett,2019-09-05T02:57:12.997,http://minesweeperonline.com,"San Francisco, CA","<p>co-founder of <a href=""https://airtable.com...",16,1,0,1998.0,https://i.stack.imgur.com/d1oHX.jpg?s=128&g=1
4,5,101,2011-06-21T20:15:31.410,Kevin Montrose,2019-05-21T18:43:29.443,https://kevinmontrose.com,"New York, NY, United States","<p><a href=""http://blog.stackoverflow.com/2010...",14,3,0,29738.0,None

In [27]:
df_merged = df_merged.merge(df_users, left_on="OwnerUserId", right_on="Id")

In [34]:
df_merged.sort_values("diff", ascending=False).head(1)

,post_id,OwnerUserId,CountUpVotes,CountDownVotes,diff,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,ProfileImageUrl
52385,98374,18431.0,547.0,0.0,547.0,18431,14222,2014-07-15T19:42:02.633,Andrew Lazarus,2022-02-26T10:32:53.460,None,California,"<p>Mathematician, programmer, polymath.</p>\n",1269,1493,49,370140.0,None

W jakim miesiącu oddano najwięcej głosów?

In [59]:
df_votes['CreationDate'] = pd.to_datetime(df_votes['CreationDate'])

In [60]:
df_votes.head()

   Id  PostId  VoteTypeId CreationDate  UserId  BountyAmount yr_month
0   1       1           2   2011-06-21     NaN           NaN  2011-06
1   2       1           2   2011-06-21     NaN           NaN  2011-06
2   3       2           2   2011-06-21     NaN           NaN  2011-06
3   4       3           2   2011-06-21     NaN           NaN  2011-06
4   5       5           5   2011-06-21    13.0           NaN  2011-06

In [61]:
df_votes['yr_month'] = df_votes['CreationDate'].apply(lambda x: x.strftime("%Y-%m"))

In [62]:
df_gr_votes = df_votes.groupby("yr_month").size().reset_index(name="cnt").sort_values("cnt", ascending=False)

In [63]:
df_gr_votes

    yr_month    cnt
62   2016-08  19591
63   2016-09  18186
61   2016-07  17242
60   2016-06  17201
64   2016-10  16718
..       ...    ...
10   2012-04   2523
113  2020-11   2500
17   2012-11   2492
116  2021-02   2382
129  2022-03    424

[130 rows x 2 columns]

Na przełomie jakich dwóch miesiecy nastąpił największy spadek ilości oddanych głosów?

In [39]:
df_gr_votes.sort_values("yr_month",inplace=True)

In [40]:
df_gr_votes_first = df_gr_votes.drop([0])

In [41]:
df_gr_votes_second = df_gr_votes.drop(df_gr_votes.index[-1])

In [42]:
df_gr_votes_first.reset_index(inplace=True)
df_gr_votes_second.reset_index(inplace=True)

In [43]:
df_gr_votes_joined = df_gr_votes_first.join(df_gr_votes_second,lsuffix="_second", rsuffix="_first").loc[:,["yr_month_first", "yr_month_second", "cnt_first", "cnt_second"]]

In [44]:
df_gr_votes_joined['diff'] = df_gr_votes_joined['cnt_second'] - df_gr_votes_joined['cnt_first']

In [45]:
df_gr_votes_joined.head()

  yr_month_first yr_month_second  cnt_first  cnt_second  diff
0        2011-06         2011-07       2817        3388   571
1        2011-07         2011-08       3388        2922  -466
2        2011-08         2011-09       2922        3551   629
3        2011-09         2011-10       3551        4358   807
4        2011-10         2011-11       4358        4543   185

In [46]:
df_gr_votes_joined.sort_values("diff")

   yr_month_first yr_month_second  cnt_first  cnt_second  diff
51        2015-09         2015-10      12686        6485 -6201
69        2017-03         2017-04      13271        9190 -4081
99        2019-09         2019-10      13478        9871 -3607
67        2017-01         2017-02      16095       12501 -3594
64        2016-10         2016-11      16718       13157 -3561
..            ...             ...        ...         ...   ...
84        2018-06         2018-07      10177       13426  3249
50        2015-08         2015-09       9396       12686  3290
34        2014-04         2014-05       5270        8808  3538
53        2015-11         2015-12       7325       10882  3557
59        2016-05         2016-06      12294       17201  4907

[129 rows x 5 columns]

Jaki tag (patrzymy tylko na Posts) jest najpopularniejszy wśród użytkowników z Polski?

In [48]:
df_poles = df_users.loc[(df_users['Location'].str.contains("Polska") == True)|(df_users['Location'].str.contains("Poland") == True)].loc[:,['Id','Location']]

In [49]:
df_pl_tags = df_posts.merge(df_poles, left_on="OwnerUserId", right_on="Id").loc[:,['Id_x', 'Location', 'Tags']]

In [50]:
df_pl_tags.loc[df_pl_tags['Tags'].str.contains("<luggage>")==True].shape[0]

10

In [51]:
df_tags["cnt_pl"] = df_tags["TagName"].apply(lambda x: df_pl_tags.loc[df_pl_tags['Tags'].str.contains(x)==True].shape[0])

In [52]:
df_tags.sort_values("cnt_pl", ascending=False).head(4)

        Id     TagName  Count  ExcerptPostId  WikiPostId  cnt_pl
34      46  air-travel   4557          255.0       254.0      34
1461  4319       sport     15        83683.0     83682.0      27
283    546          eu    445         2004.0      2003.0      24
1374  4109         bud      8        82272.0     82271.0      21

Jakie słowo o długości powyżej 7 znaków pojawia się najczęściej w treści (Body) postów?

In [53]:
regex_websites = r"(?i)(https?://|www.|\w+\.)[^(\s><)]+"
regex_tags = r"<[=/\w\s\\\"-]*>"

In [54]:
df_posts['Body'][2]

'<p>One way would be to go through an Adventure travel company that offers trips in the region. They\'ll have their own trained guides that have extensive knowledge of the area and will generally have lots of reviews so you can get an idea of whether or not the trip is good.</p>\n\n<p><strong>Examples</strong></p>\n\n<p><a href="http://www.gapadventures.com/">http://www.gapadventures.com/</a> - Great trips through the <a href="http://www.gapadventures.com/trips/?q=Amazon&amp;ref=finder">amazon</a></p>\n\n<p><a href="http://contiki.com">http://contiki.com</a></p>\n\n<p><a href="http://www.adventure-life.com/">http://www.adventure-life.com/</a></p>\n'

In [55]:
df_good_posts = (
  df_posts['Body']
  .str.replace(pat=regex_websites, repl="", regex=True)
  .str.replace(pat="&quot;", repl="", regex=True)
  .str.replace(pat="&[0-9#]*;", repl="", regex=True)
  .str.replace(pat=regex_tags, repl="", regex=True)
  .str.replace(pat="\\n",repl="", regex=True)
  .str.replace(pat="[.,-;><%/?\(\)”“\"\[\]` #]", repl=" ", regex=True)
  .str.lower()
  .str.split(" ")
  .dropna()
  .apply(lambda x: list(filter(lambda y: len(y)>7, x)))
  .explode()
  .value_counts()
)

In [56]:
df_good_posts.head()

passport       36701
schengen       18754
countries      15477
application    14443
question       13982
Name: Body, dtype: int64

(Do powyższego) Ile razy ktoś wszedł na angielską stronę Wikipedii na temat tego słowa?

In [57]:
df_wiki_en.loc[df_wiki_en['curr']=="Passport"]['n'].sum()

31631